DB_URL=jdbc:postgresql://localhost:5432/flightdb?sslmode=disable
DB_USERNAME=root
DB_PASSWORD=nopassword
FLYWAY_ENABLED=true
JWT_SECRET=your-secret-token
JWT_EXPIRATION=900000
MAIL_HOST=mail.host
MAIL_PORT=587
MAIL_USERNAME=your-username
MAIL_PASSWORD=your-password